::selection{
    background-color:none;
     color:inherit;
}
 .Board{
     display: inline-flex;
     position: absolute;
}
 .Routes{
     display: inline-flex;
     float: right;
}
.musicButton{
  float: right;
}
 .keyboard{
     margin: 5vh 5vw;
     text-align: center;
     width:830px;
     height: 295px;
     background-color: #111;
     border-radius: 9px;
     padding: 15px;
     padding-top: 25px;
     padding-bottom: 20px;
     color: #eee;
     border-style: double;
     border-width: 2px;
     box-shadow: rgba(000,000,000,0.9) 5px 5px 1px, inset rgba(255,255,255,0.4) 0 1px 0;

}
 .logo{
     width:50px;
     height:50px;
     background-color:red;
     font-weight:300;
     font-style: oblique;
     font-size:15px;
     line-height:40px;
     text-align:center;
     margin: -20px auto 10px auto;
     border-radius:40px;
     font-family: 'Orbitron', sans-serif;
     transition: box-shadow 0.7s ease;
}
 .lights{
     float:right;
     position:relative;
     top:-45px;
     right:8px;
     padding:0;
}
 .lights span{
    margin:0 20px 0 20px;
     padding:0;
     text-align: center;
}
 .lights span:after{
     content:"";
     width:11px;
     height:8px;
     top: 22px;
     margin-left:-9px;
     background-color:#DBB921;
     position:absolute;
     border-radius: 3px;
}
 .key{
     border-style: solid;
     border-width: 1px;
     width: 40px;
     height:40px;
     display:block;
     background-color:#000000;
     text-align: left;
     padding-left: 8px;
     line-height: 29px;
     border-radius:2px;
     float:left;
     margin-left: 2px;
     margin-bottom:2px;
     transition: box-shadow 0.7s ease;
     text-align: center;
}
 .used{
     background-color: red;
     cursor: pointer;
     font-family: 'Orbitron', sans-serif;
     text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
 body{
     overflow: hidden;
     height:100vh;
     background: rgb(163,42,44);
   background: linear-gradient(38deg, rgba(163,42,44,1) 0%, rgba(0,0,0,1) 100%);
 }

 .section-a{
    width:650px;
     height:260px;
     float:left;
}
 .section-b{
    width:150px;
     height:260px;
     float:left;
    margin-left: 30px;
}
 .function{
    font-size: 12px;
     width:30px;
     height:30px;
     margin-bottom:15px;
}
 .small{
    font-size:10px;
     line-height:13px;
     text-align: center;
     padding:0 5px;
     padding-top:2px;
     height:28px !important;
}
 .space1{
    margin-right: 43px !important;
}
 .space2{
    margin-right: 25px !important;
}
 .dual {
    font-size: 14px;
     line-height: 20px;
     width:30px;
}
 .backspace {
    width:84px;
     font-size: 12px;
}
 .tab {
    width: 50px;
     line-height: 40px;
     font-size:13px;
}
 .letter{
    width:30px;
}
 .slash{
    width:64px;
}
 .caps{
    width:70px;
     font-size:12px;
     line-height:18px;
}
 .enter{
    width:94px;
     line-height:40px;
     text-align: center;
     padding-left:0;
}
 .shift.left{
    width: 90px;
    line-height: 40px;
     font-size:13px;
}
 .shift.right{
    width: 108px;
    line-height: 40px;
     font-size:13px;
}
 .ctrl{
    width: 50px;
     line-height: 40px;
     font-size:13px;
}
 .space{
    width:246px;
}
.activeSpace{
  width:246px;
  color:red;
  font-family: 'Orbitron', sans-serif;

}
 .arrows{
    position:relative;
     top:42px;
}
 .sec-func .key{
    width: 32px;
     font-size:10px;
     text-align:left;
     line-height:40px;
     float:left;
}
 .sec-func div.dual{
    line-height:20px;
}
 .arrows .key{
    text-align: center;
     padding-left: 7px;
     margin-left:2px;
}
 .hidden{
    visibility: hidden;
}
 .used:hover{
    box-shadow:0px 0px 50px #FF0000;
     z-index:1000;
}
 .logo:hover{
    box-shadow:0px 0px 50px #FF0000;
     z-index:1000;
}
 .Intro{
     text-shadow:2px 2px 1px rgba(255, 255, 255, 1),2px 2px 5px rgba(255, 255, 255, 1);
     text-align: center;
     font-family: 'Orbitron', sans-serif;


}

.myButton {

	-moz-box-shadow:inset 5px 2px 2px 3px #ffffff;
	-webkit-box-shadow:inset 5px 2px 2px 3px #ffffff;
	box-shadow:inset 5px 2px 2px 3px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:4px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  font-family: 'Orbitron', sans-serif;
margin: 20px 20px;
letter-spacing: 2px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

.Welcome{
  margin: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  border-radius: 20px;
  border-style: double;
  border-width: thick;
  letter-spacing: 3px;
}

.welcomeKeys{
  color: red;
}
.wholeForm{
  text-align: center;
}
.form-container {
   border: 5px solid #ffffff;
   background: #c23434;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#c23434));
   background: -webkit-linear-gradient(top, #000000, #c23434);
   background: -moz-linear-gradient(top, #000000, #c23434);
   background: -ms-linear-gradient(top, #000000, #c23434);
   background: -o-linear-gradient(top, #000000, #c23434);
   background-image: -ms-linear-gradient(top, #000000 0%, #c23434 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   text-decoration: none;
   min-width:300px;
   padding:20px;
   }
   .proPic{
     height:352px;
     border-style: double;
     border-color: white;
     border-radius: 30px;
     margin-top: -5vh;
     box-shadow: rgba(000,000,000,0.9) 10px 10px 15px, inset rgba(255,255,255,0.4) 0 1px 0;

   }
.form-field {
   border: 3px solid #000000;
   background: #ffffff;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   font-family: 'Orbitron', sans-serif;

   }
.form-field:focus {
   background: #ffffff;
   color: #000000;
   }
.form-container h2 {
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
   border-radius: 20px;
   padding: 10px;
   letter-spacing: 2px;
    }
.form-title {
   margin-bottom:10px;
   color: #ffffff;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 0px solid #ffffff;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#000000));
   background: -webkit-linear-gradient(top, #c23434, #000000);
   background: -moz-linear-gradient(top, #8dc059, #000000);
   background: -ms-linear-gradient(top, #8dc059, #000000);
   background: -o-linear-gradient(top, #8dc059, #000000);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #000000 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #000000 0 1px 0;
   color: #FFFFFF;
   font-family: 'Orbitron', sans-serif;

   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 0px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #000000;

   color: #fff;
   }
.error{
  color: #ffffff;
  letter-spacing: 2px;
  -webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }

}
   .center{
     margin: 10vh -40vw;
   }

.Links{
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  border-style: solid;
  border-color: white;
}
.logos{
  margin: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 1px;
}

.Projects{
  background-color: white;
  padding-left:100px;
  padding-right: 100px;
  overflow: scroll;
  height:40vh;
  overflow-x: hidden;
  text-align: center;
  border-radius: 10px;
  border-style:solid;
  box-shadow: rgba(000,000,000,0.9) 5px 5px 5px, inset rgba(255,255,255,0.4) 0 1px 0;
  opacity:0.8;
}
.projectHeader{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: lightgrey;
  margin: -5vh;
  margin-bottom: 5px;
  border-radius: 20px;
  box-shadow: rgba(000,000,000,0.9) 5px 5px 5px, inset rgba(255,255,255,0.4) 0 1px 0;
  opacity:0.8;
  color:red;
  text-shadow: #000000 3px 3px 5px;
  letter-spacing: 2px;
}
.githubicon{
  height:100px;
  width:100px;
}
.indProject{
  box-shadow: rgba(000,000,000,0.9) 5px 5px 5px, inset rgba(255,255,255,0.4) 0 1px 0;
  border-style:double;
  border-width: 5px;
  width: 20vw;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: #000000 3px 3px 5px;
  
}
h1{
  font-family: 'Orbitron', sans-serif;

}
